In [2]:
d={"jh":40,"ptr":45}
print(d["jh"])

40

In [24]:
dct = { 1 : {'name': 'Prakash','eng': 60, 'hin': 70,'sci' : 85, 'mth': 95},
        2 : {'name': 'Ashish','eng' : 65, 'hin': 77,'sci': 75, 'mth': 93},
        3 : {'name': 'Anshika', 'eng': 68, 'hin': 72,'sci' : 85, 'mth': 89}, 
        4 : {'name': 'Ayushi' ,'eng': 62, 'hin': 74, 'sci': 90, 'mth': 94}}

In [25]:
dct

{1: {'name': 'Prakash', 'eng': 60, 'hin': 70, 'sci': 85, 'mth': 95},
 2: {'name': 'Ashish', 'eng': 65, 'hin': 77, 'sci': 75, 'mth': 93},
 3: {'name': 'Anshika', 'eng': 68, 'hin': 72, 'sci': 85, 'mth': 89},
 4: {'name': 'Ayushi', 'eng': 62, 'hin': 74, 'sci': 90, 'mth': 94}}

In [10]:
roll_no = int(input("enter the roll_no"))
print("-"*20)
print("Name     :",dct[roll_no]["name"])
print("English  :",dct[roll_no]["eng"])
print("Hindi    :",dct[roll_no]["hin"])
print("Science  :",dct[roll_no]["sci"])
print("Maths    :",dct[roll_no]["mth"])

total=dct[roll_no]["hin"]+dct[roll_no]["eng"]+dct[roll_no]["mth"]+dct[roll_no]["sci"]

print("-"*20)
print("Total",total)
print("-"*20)

enter the roll_no3
--------------------
Name     : Anshika
English  : 68
Hindi    : 72
Science  : 85
Maths    : 89
--------------------
Total 314
--------------------

In [14]:
dct.keys()

dict_keys([1, 2, 3, 4])

In [19]:
for key in dct.keys():
    print(dct[key]["eng"])

60
65
68
62

In [25]:
eng=[]
for key in dct.keys():
    eng.append(dct[key]["eng"])
print("maximum  :",max(eng))
print("Average  :",sum(eng)/len(eng))

maximum  : 68
Average  : 63.75

In [32]:
eng=[]
for key in dct.keys():
    eng.append(dct[key]["eng"])

marks=max(eng)

for key in dct.keys():
    if(dct[key]["eng"] == "marks"):
        print(dct[key]["name"])

In [8]:
val=[1,"anil",60,75,65,65],[2,"akash",60,77,65,65],[3,"priya",60,76,65,65],[4,"rahul",60,75,65,65]

In [9]:
val

([1, 'anil', 60, 75, 65, 65],
 [2, 'akash', 60, 77, 65, 65],
 [3, 'priya', 60, 76, 65, 65],
 [4, 'rahul', 60, 75, 65, 65])

In [19]:
for i in val:
    student = {}
    
    roll_no  = i[0]
    name     = i[1]
    eng      = i[2]
    hin      = i[3]
    mth      = i[4]
    sci      = i[5]
    
    student["name"] = name
    student["eng"]  = eng
    student["hin"]  = hin
    student["sci"]  = sci
    student["mth"]  = mth
    
    print(student)

{'name': 'anil', 'eng': 60, 'hin': 75, 'sci': 65, 'mth': 65}
{'name': 'akash', 'eng': 60, 'hin': 77, 'sci': 65, 'mth': 65}
{'name': 'priya', 'eng': 60, 'hin': 76, 'sci': 65, 'mth': 65}
{'name': 'rahul', 'eng': 60, 'hin': 75, 'sci': 65, 'mth': 65}

In [26]:
for key in dct.key():
    print(roll_no,dct[roll_no])

AttributeError: 'dict' object has no attribute 'key'

In [22]:
dct

{}

In [95]:
grades = {}


def add_Student(student_name, grade):
    grades[student_name] = grade


def remove_Student(student_name):
    if student_name in grades:
        del grades[student_name]
    else:
        print(f"Student '{student_name}' doesn't exist.")


def update_Student(student_name, new_grade):
    if student_name in grades:
        grades[student_name] = new_grade
    else:
        print(f"Student '{student_name}' doesn't exist.")


def get_Student(student_name):
    if student_name in grades:
        return grades[student_name]
    else:
        print("student not there in the list")
        return None


def get_all_grades():
    return grades


def calculate_average_grade():
    if grades:
        total = sum(grades.values())
        return total / len(grades)
    else:
        return None

In [96]:
add_Student("Rohit", 85)
add_Student("Sara", 92)
add_Student("Aman", 78)

In [89]:
add_grade(4,"simon", 75)
add_grade(5,"alex", 87)

TypeError: add_grade() takes 2 positional arguments but 3 were given

In [97]:
print(get_all_grades())

{'Rohit': 85, 'Sara': 92, 'Aman': 78}

In [69]:
remove_grade('roman')
print(get_all_grades())

Student 'roman' doesn't exist.
{'John Doe': 85, 'Jane Smith': 92, 'Michael Johnson': 78, 'simon': 75, 'alex': 87}

In [70]:
get_grade('alx')

student not there in the list