In [1]:
name="prakash"
hin=60
eng=70
mth=65
sci=65

In [5]:
total=hin+eng+mth+sci
print(total)

260

In [6]:
rakesh=[60,70,65,65]

In [7]:
rakesh[1]

70

In [8]:
sum(rakesh)

260

In [10]:
for i in rakesh:
    print(i)

60
70
65
65

In [15]:
(sum(rakesh)/(len(rakesh)))

65.0

In [27]:
data=[1,"anil",60,75,65,65],[2,"akash",60,77,65,65],[3,"priya",60,76,65,65],[4,"rahul",60,75,65,65]

In [17]:
data

(['anil', 60, 75, 65, 65],
 ['akask', 60, 77, 65, 65],
 ['priya', 60, 76, 65, 65],
 ['rahul', 60, 75, 65, 65])

In [26]:
for student in data:
    print (student[0],"-",student[1])

anil - 60
akash - 60
priya - 60
rahul - 60

In [25]:
max(student[2])

TypeError: 'int' object is not iterable

## student detail based on roll no

In [28]:
data

([1, 'anil', 60, 75, 65, 65],
 [2, 'akash', 60, 77, 65, 65],
 [3, 'priya', 60, 76, 65, 65],
 [4, 'rahul', 60, 75, 65, 65])

enter roll no.4
-------------------------
Name: rahul
hindi: 60
eng: 75
math: 65
sci: 65
-------------------------
total: 265
-------------------------

In [38]:
roll_no=int(input("Enter roll no."))

for student in data:
    if(student[0]==roll_no):
        print("-"*25)
        print("Name   :" ,student[1])
        print("hindi  :",student[2])
        print("eng    :",student[3])
        print("math   :",student[4])
        print("sci    :",student[5])
        print("-"*25)
        print("total  :",sum(student[2:]))
        
        print("-"*25)

enter roll no.3
-------------------------
Name   : priya
hindi  : 60
eng    : 76
math   : 65
sci    : 65
-------------------------
total  : 266
-------------------------

In [39]:
a=[[1,2,3],[4,5,6],[7,8,9]]

In [47]:
a[1][1]

5