## 1.student detail

In [ ]:
dct = {'4gm20is001' : {'first_name':'Ayush',
                    'last_name':'Verma',
                    'cell': 8826369213,
                    'mail':'abc@gmail.com',
                    'degree':'BE-ISE',
                    'batch':'2016-2020'},
                  
       '4gm20is002' : {'first_name':'Rajath',
                    'last_name':'Mishra',
                    'cell': 8833021213,
                    'mail':'abc@gmail.com',
                    'degree':'BE-ISE',
                    'batch':'2016-2020'}}

In [32]:
reg_no = str(input("Enter the registration no:"))

print('-'*30)
print('first_name    :',dct[reg_no]['first_name'])
print('last_name     :',dct[reg_no]['last_name'])
print('cell          :',dct[reg_no]['cell'])
print('mail          :',dct[reg_no]['mail'])
print('degree        :',dct[reg_no]['degree'])
print('batch         :',dct[reg_no]['batch'])
print('-'*30)

Enter the registration no:4gm20is032
------------------------------
first_name    : Ayush
last_name     : Verma
cell          : 8826369213
mail          : abc@gmail.com
degree        : BE-ISE
batch         : 2016-2020
------------------------------

In [35]:
reg_no       = str(input("Reg No          :"))
first_name   = str(input('First_name      :'))
last_name    = str(input('Last_name       :'))
cell         = int(input('Phone number    :'))
mail         = str(input('Mail Id         :'))
degree       = str(input('Degree          :'))
batch        = str(input('Batch           :'))

temp = {}
temp['first_name'] = first_name
temp['last_name'] = last_name
temp['cell'] = cell
temp['mail'] = mail
temp['degree'] = degree
temp['batch'] = batch

dct[reg_no]   = temp

Reg No          :4gm20is003
First_name      :Manish
Last_name       :Shukla
Phone number    :8293102385
Mail Id         :xyz@gmail.com
Degree          :BE-ISE
Batch           :2016-2020

## Displaying user detail

In [36]:
dct

{'4gm20is032': {'first_name': 'Ayush',
  'last_name': 'Verma',
  'cell': 8826369213,
  'mail': 'abc@gmail.com',
  'degree': 'BE-ISE',
  'batch': '2016-2020'},
 '4gm20is033': {'first_name': 'Rajath',
  'last_name': 'Mishra',
  'cell': 8833021213,
  'mail': 'abc@gmail.com',
  'degree': 'BE-ISE',
  'batch': '2016-2020'},
 '4gm20is003': {'first_name': 'Manish',
  'last_name': 'Shukla',
  'cell': 8293102385,
  'mail': 'xyz@gmail.com',
  'degree': 'BE-ISE',
  'batch': '2016-2020'}}

In [38]:
dct['4gm20is032']['cell']

8826369213

## 2.section details

In [124]:
section = {'ise232' :{'HOD' : 12545,'degree' : 'ISE','teacher' : [12255,12345,12434,13242]},
           'ise233' :{'HOD' : 12544,'degree' : 'ISE','teacher' : [12343,15434,12255]},
           'ise234' :{'HOD' : 12543,'degree' : 'ISE','teacher' : [13242,12343]}
          }

In [123]:
teacher

{12543: {'name': 'Aman', 'mail': 'abc@gmail.com'},
 12255: {'name': 'Karan', 'mail': 'abc@gmail.com'},
 12345: {'name': 'Sahil', 'mail': 'abc@gmail.com'},
 12434: {'name': 'Varun', 'mail': 'abc@gmail.com'},
 13242: {'name': 'Sharath', 'mail': 'abc@gmail.com'},
 12544: {'name': 'Manohar', 'mail': 'abc@gmail.com'},
 12545: {'name': 'Tarun', 'mail': 'abc@gmail.com'}}

In [92]:
teacher[section['ise232']['HOD']]['name']

'Tarun'

## Teacher Detail

In [91]:
teacher = {12543 : {'name':'Aman',
                'mail':'abc@gmail.com'},
       
       12255 : {'name':'Karan',
                'mail':'abc@gmail.com'},
       
       12345 : {'name':'Sahil',
                'mail':'abc@gmail.com'},
       
       12434 : {'name':'Varun',
                'mail':'abc@gmail.com'},
       
       13242 : {'name':'Sharath',
                'mail':'abc@gmail.com'},
           
        12544 : {'name':'Manohar',
                'mail':'abc@gmail.com'},
           
        12545 : {'name':'Tarun',
                'mail':'abc@gmail.com'},
                  
      }

In [97]:
section['ise232']['HOD']

12545

In [128]:
print("HOD: ", teacher[section ['ise233']['HOD']]['name'], '(',section ['ise233']['HOD'],')')
print("Degree: ", section['ise233']['degree'])
print('----Teachers----')

for i in section['ise232']['teacher']:
    print(teacher[i]['name'])

print('---------------')

HOD:  Manohar ( 12544 )
Degree:  ISE
----Teachers----
Karan
Sahil
Varun
Sharath
---------------

## 3.hirarichy of teachers